@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --BLACK_DARK: #020409;
    --BLACK_LIGHT: #151b23;
    --GRAY: #9198a1;
    --BLUE_DARK: #131d2f;
    --BLUE_NORMAL: #3984ea;
    --BLUE_LIGHT: #99c8fd;
    --GREEN: #228636;
    --YELLOW: #f1e05a;
    --RED_LIGHT: #c55437;
    --RED_DARK: #bd3839;
    --PURPLE: #987bb9;
    --ORANGE: #e59550;
}

* {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: white;
}

html {
    width: 100vw;
    height: 100vh;
    font-family: "Lexend", sans-serif;
    background-color: var(--BLACK_DARK);
}

select {
    font-size: medium;
}

option {
    color: black;
}

button {
    border-radius: 0.5rem;
    font-size: medium;
    background-color: var(--GREEN);
    border: 0;
    cursor: pointer;
}

input {
    border-radius: 0.5rem;
    font-size: medium;
    border: 1.5px white solid;
}

input::placeholder {
    color: var(--GRAY);
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    width: 100%;
    background-color: var(--BLUE_NORMAL);
    height: 4rem;
}

.navbar-container {
    justify-content: space-between;
    padding: 0 2rem;
    height: 100%;
}